{% set vars = {"count": 1, "nodes": []} %}
{% for system in SYSTEMS %}
{% if 'ec3_node_type' in system and system['ec3_node_type'] == 'wn' %}
{% for n in range(system['ec3_max_instances_max']) %}
{% set node = {"name": "%s%d.localdomain" % (vnode_prefix,vars["count"]), "cpu": 1, "memory": "512M"} %}
{% if 'cpu.count_min' in system %}
{% set _dummy = node.update({"cpu": system['cpu.count_min']}) %}
{% endif %}
{% if 'memory.size_min' in system %}
{% set _dummy = node.update({"memory": "%dM" % system['memory.size_min']}) %}
{% endif %}
{% if 'ec3_node_queues_list' in system %}
{% set _dummy = node.update({"queues": system['ec3_node_queues_list']}) %}
{% endif %}
{% if 'ec3_node_keyworks' in system %}
{% set _dummy = node.update({"keyworks": system['ec3_node_keyworks']}) %}
{% endif %}
{% set _dummy = vars.update({'nodes': vars["nodes"] + [node]}) %}
{% set _dummy = vars.update({'count': vars["count"] + 1}) %}
{% endfor %}
{% endif %}
{% endfor %}
{% if not vars["nodes"] %}
{% for n in range(NNODES|int) %}
{% set node = {"name": "%s%d.localdomain" % (vnode_prefix, n)} %}
{% set _dummy = vars.update({'nodes': vars["nodes"] + [node]}) %}
{% endfor %}
{% endif %}
{{ vars["nodes"]|to_nice_json }}