{%- if not vnode_suffix is defined -%}
  {%- set vnode_suffix = "" -%}
{%- endif -%}
{%- set vars = {"count": 1, "nodes": []} -%}
{%- for system in SYSTEMS -%}
  {%- if 'ec3_node_type' in system and system['ec3_node_type'] == 'wn' -%}
    {%- for n in range(system['ec3_max_instances_max']) -%}
      {%- set node = {"name": "%s%d%s" % (vnode_prefix, vars["count"], vnode_suffix), "cpu": 1, "memory": "512M"} -%}
      {%- if 'cpu.count_min' in system -%}
        {%- set _dummy = node.update({"cpu": system['cpu.count_min']}) -%}
      {%- endif -%}
      {%- if 'memory.size_min' in system -%}
        {%- set _dummy = node.update({"memory": "%dM" % system['memory.size_min']}) -%}
      {%- endif -%}
      {%- if 'ec3_node_queues_list' in system -%}
        {%- set _dummy = node.update({"queues": system['ec3_node_queues_list']}) -%}
      {%- endif -%}
      {%- if 'ec3_node_keywords' in system -%}
        {%- set _dummy = node.update({"keywords": system['ec3_node_keywords']}) -%}
      {%- endif -%}
      {%- set _dummy = vars.update({'nodes': vars["nodes"] + [node]}) -%}
      {%- set _dummy = vars.update({'count': vars["count"] + 1}) -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{%- if not vars["nodes"] -%}
  {%- if max_number_of_nodes is not defined and NNODES is defined -%}
    {%- set max_number_of_nodes = NNODES -%}
  {%- endif -%}
  {%- for n in range(1, NNODES|int + 1) -%}
    {%- set node = {"name": "%s%d%s" % (vnode_prefix, n, vnode_suffix)} -%}
    {%- set _dummy = vars.update({'nodes': vars["nodes"] + [node]}) -%}
  {%- endfor -%}
{%- endif -%}
{{ vars["nodes"]|to_nice_json }}
